Root/neuro-foundation.io/Schemas/Geo.xsd

<?xml version='1.0' encoding='utf-8'?>
<xs:schema
    xmlns:xs='http://www.w3.org/2001/XMLSchema'
    targetNamespace='urn:nf:iot:geo:1.0'
    xmlns='urn:nf:iot:geo:1.0'
    elementFormDefault='qualified'>

	<xs:element name="subscribe">
		<xs:annotation>
			<xs:documentation>Subscribes to geo-spatial information, or updates an existing subscription.</xs:documentation>
			<xs:documentation>The client subscribes to geo-spatial information using a bounding box. The bounding box is defined using to coordinates using the Mercator projection, which is a cylindrical map projection.</xs:documentation>
			<xs:documentation>If the minLon is greater than the `maxLon` value, the bounding box is assumed to wrap around the antimeridian, or the +- 180 degree longitude meridian.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="id" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Identifier of the subscription, if updating a subscription.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="minLat" type="xs:double" use="required">
				<xs:annotation>
					<xs:documentation>The minimum latitude of the bounding box, in degrees.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="maxLat" type="xs:double" use="required">
				<xs:annotation>
					<xs:documentation>The maximum latitude of the bounding box, in degrees.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="minLon" type="xs:double" use="required">
				<xs:annotation>
					<xs:documentation>The minimum longitude of the bounding box, in degrees.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="maxLon" type="xs:double" use="required">
				<xs:annotation>
					<xs:documentation>The maximum longitude of the bounding box, in degrees.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="minAlt" type="xs:double" use="optional">
				<xs:annotation>
					<xs:documentation>The minimum altitude of the bounding box, in meters.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="maxAlt" type="xs:double" use="optional">
				<xs:annotation>
					<xs:documentation>The maximum altitude of the bounding box, in meters.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ttl" type="xs:positiveInteger" use="optional">
				<xs:annotation>
					<xs:documentation>Number of seconds before the subscription gets unsubscribed.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="subscribed">
		<xs:annotation>
			<xs:documentation>Acknowledges the subscription.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="id" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Identifier of the subscription.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ttl" type="xs:positiveInteger" use="required">
				<xs:annotation>
					<xs:documentation>Number of seconds before the subscription gets automatically unsubscribed, unless updated.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="unsubscribe">
		<xs:annotation>
			<xs:documentation>Sent in an iq set stanza to unsubscribe an existing subscription.</xs:documentation>
			<xs:documentation>An error will be returned if attempting to unsubscribe a non-existing subscription, or a subscription created by another client.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="id" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>Identifier of the subscription.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="unsubscribed">
		<xs:annotation>
			<xs:documentation>Contains the identifier of a geo-spatial subscription that was terminated.</xs:documentation>
			<xs:documentation>Can be returned as a response to the unsubscribe query, or in a message if a subscription elapses.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="id" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Identifier of the subscription.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="publish">
		<xs:annotation>
			<xs:documentation>Sent in an iq set stanza to publish a new geo-spatial object reference, or update an existing geo-spatial object reference.</xs:documentation>
			<xs:documentation>The client publishes geo-spatial information using a point of reference.</xs:documentation>
			<xs:documentation>The publication may include custom XML content.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:any minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Identifier of the geo-spatial object reference, if updating an existing reference.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="lat" type="xs:double" use="required">
				<xs:annotation>
					<xs:documentation>The latitude of the reference point, in degrees.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="lon" type="xs:double" use="required">
				<xs:annotation>
					<xs:documentation>The latitude of the reference point, in degrees.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="alt" type="xs:double" use="optional">
				<xs:annotation>
					<xs:documentation>The altitude of the reference point, in meters.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ttl" type="xs:positiveInteger" use="optional">
				<xs:annotation>
					<xs:documentation>Number of seconds the reference should be persisted.</xs:documentation>
					<xs:documentation>A reference without a ttl value is considered ephemeral, and will not be persisted.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="from" type="xs:dateTime" use="optional">
				<xs:annotation>
					<xs:documentation>Timestamp indicating from what point in time publication is valid.</xs:documentation>
					<xs:documentation>Can be used to publish a future location object reference.</xs:documentation>
					<xs:documentation>Timestamps should use UTC.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="to" type="xs:dateTime" use="optional">
				<xs:annotation>
					<xs:documentation>Timestamp indicating to what point in time publication is valid.</xs:documentation>
					<xs:documentation>Can be used to publish an expected expiration timestamp for a location object reference.</xs:documentation>
					<xs:documentation>Timestamps should use UTC.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="published">
		<xs:annotation>
			<xs:documentation>Acknowledges the publication.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="id" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Identifier of the publication, if not provided in the request.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ttl" type="xs:positiveInteger" use="optional">
				<xs:annotation>
					<xs:documentation>Number of seconds before the publication gets removed.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="delete">
		<xs:annotation>
			<xs:documentation>Deletes a publication made by the client.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="id" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>Identifier of the publication to delete.</xs:documentation>
					<xs:documentation>If the publication was not created by the client, an error must be returned.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="deleted">
		<xs:annotation>
			<xs:documentation>Acknowledges the deletion of a geo-spatial item..</xs:documentation>
		</xs:annotation>
		<xs:complexType/>
	</xs:element>

	<xs:element name="search">
		<xs:annotation>
			<xs:documentation>Performs a search for geo-spatial objects.</xs:documentation>
			<xs:documentation>The search is performed using a bounding box. The bounding box is defined using to coordinates using the Mercator projection, which is a cylindrical map projection.</xs:documentation>
			<xs:documentation>The search can be restricted to references with geo-spatial identifiers matching a given regular expression.</xs:documentation>
			<xs:documentation>The search can also be paginated, ny providing an offset and maximum count.</xs:documentation>
			<xs:documentation>The broker is free to cap the maximum number of items returned.</xs:documentation>
			<xs:documentation>The broker is also free to restrict the number and rate of searches a client can perform.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="namespace" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Defines a prefix and associated namespace used in XPATH searches.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name="prefix" type="xs:string" use="required">
							<xs:annotation>
								<xs:documentation>Name of the prefix to use.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
						<xs:attribute name="value" type="xs:string" use="required">
							<xs:annotation>
								<xs:documentation>Namespace associated with the prefix.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="minLat" type="xs:double" use="required">
				<xs:annotation>
					<xs:documentation>The minimum latitude of the bounding box, in degrees.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="maxLat" type="xs:double" use="required">
				<xs:annotation>
					<xs:documentation>The maximum latitude of the bounding box, in degrees.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="minLon" type="xs:double" use="required">
				<xs:annotation>
					<xs:documentation>The minimum longitude of the bounding box, in degrees.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="maxLon" type="xs:double" use="required">
				<xs:annotation>
					<xs:documentation>The maximum longitude of the bounding box, in degrees.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="minAlt" type="xs:double" use="optional">
				<xs:annotation>
					<xs:documentation>The minimum altitude of the bounding box, in meters.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="maxAlt" type="xs:double" use="optional">
				<xs:annotation>
					<xs:documentation>The maximum altitude of the bounding box, in meters.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="pattern" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Regular expression that will be applied to geo-spatial object identifiers.</xs:documentation>
					<xs:documentation>Only references to objects matching this pattern will be returned.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="path" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>XPATH expression that will be applied to custom content XML in geo-spatial object identifiers.</xs:documentation>
					<xs:documentation>Only references to objects containing custom XML that matches this path will be returned.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="offset" type="xs:nonNegativeInteger" use="optional">
				<xs:annotation>
					<xs:documentation>Offset of first item to return.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="maxCount" type="xs:positiveInteger" use="optional">
				<xs:annotation>
					<xs:documentation>Maximum number of items to return.</xs:documentation>
					<xs:documentation>The broker is free to lower this value.</xs:documentation>
					<xs:documentation>The value used by the broker will be available in the result.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="references">
		<xs:annotation>
			<xs:documentation>Contains a set of object references.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ref" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Contains information about one geo-spatial object reference.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="maxCount" type="xs:positiveInteger" use="required">
				<xs:annotation>
					<xs:documentation>Maximum number of references to return in result.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="ref">
		<xs:annotation>
			<xs:documentation>Contains information about one geo-spatial object reference.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:any minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>Geo-spatial object reference identifier.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="creator" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Bare JID of creator, if available.</xs:documentation>
					<xs:documentation>Publications resulting from internal processing, such as geo-localization of contracts, or device registrations, will lack a creator registration.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="lat" type="xs:double" use="required">
				<xs:annotation>
					<xs:documentation>The latitude of the object reference, in degrees.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="lon" type="xs:double" use="required">
				<xs:annotation>
					<xs:documentation>The latitude of the object reference, in degrees.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="alt" type="xs:double" use="optional">
				<xs:annotation>
					<xs:documentation>The altitude of the object reference, in meters.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="ttl" type="xs:positiveInteger" use="optional">
				<xs:annotation>
					<xs:documentation>Number of seconds until the object expires, unless updated.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="created" type="xs:dateTime" use="required">
				<xs:annotation>
					<xs:documentation>When information was created.</xs:documentation>
					<xs:documentation>Timestamps should use UTC.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="updated" type="xs:dateTime" use="optional">
				<xs:annotation>
					<xs:documentation>When information was last updated (if updated).</xs:documentation>
					<xs:documentation>Timestamps should use UTC.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="from" type="xs:dateTime" use="optional">
				<xs:annotation>
					<xs:documentation>Timestamp indicating from what point in time publication is valid.</xs:documentation>
					<xs:documentation>Can be used to publish a future location object reference.</xs:documentation>
					<xs:documentation>Timestamps should use UTC.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="to" type="xs:dateTime" use="optional">
				<xs:annotation>
					<xs:documentation>Timestamp indicating to what point in time publication is valid.</xs:documentation>
					<xs:documentation>Can be used to publish an expected expiration timestamp for a location object reference.</xs:documentation>
					<xs:documentation>Timestamps should use UTC.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="added">
		<xs:annotation>
			<xs:documentation>Is sent in a message stanza to a subscriber when an object reference has been added in the region of a subscription.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ref"	minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Reference to object that was added.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Identifier of the subscription to which the object was added.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="updated">
		<xs:annotation>
			<xs:documentation>Is sent in a message stanza to a subscriber when an object reference has been updated in the region of a subscription.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ref"	minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Reference to object that was updated.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Identifier of the subscription in which the object was updated.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name="removed">
		<xs:annotation>
			<xs:documentation>Is sent in a message stanza to a subscriber when an object reference has been removed from the region of a subscription.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ref"	minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Reference to object that was removed.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="id" type="xs:string" use="optional">
				<xs:annotation>
					<xs:documentation>Identifier of the subscription from which the object was removed.</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

</xs:schema>