Root/neuro-foundation.io/Schemas/HarmonizedInterfaces.xsd

<?xml version='1.0' encoding='utf-8'?>
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema'
					 targetNamespace='urn:nfi:iot:hi:1.0'
					 xmlns='urn:nfi:iot:hi:1.0'
					 elementFormDefault='qualified'>

	<xs:element name='getInterfaces'>
		<xs:annotation>
			<xs:documentation>Gets a list of harmonized interfaces from a device.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name='id' type='xs:string' use='optional'>
				<xs:annotation>
					<xs:documentation>Node identity. (Required)</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name='src' type='xs:string' use='optional'>
				<xs:annotation>
					<xs:documentation>Source identity. (Optional. Scopes the node identity.)</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name='pt' type='xs:string' use='optional'>
				<xs:annotation>
					<xs:documentation>Source partition. (Optional. Scopes the node identity, within a source.)</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:complexType>
	</xs:element>

	<xs:element name='interfaces'>
		<xs:annotation>
			<xs:documentation>Contains a list of harmonized interfaces.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name='interface' minOccurs='0' maxOccurs='unbounded'>
					<xs:annotation>
						<xs:documentation>Represents one harmonized interface.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:attribute name='ref' type='xs:anyURI' use='required'>
							<xs:annotation>
								<xs:documentation>The namespace of the corresponding harmonized interface.</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

</xs:schema>
